
.saludos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0ce7786d-c24a-4c55-b90b-090cd82bc80d/dcacr2j-42e895ed-7b98-4fb2-a146-bd9d542212c4.jpg/v1/fill/w_1600,h_1036,q_75,strp/farewell___hollow_knight_by_awlita_dcacr2j-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAzNiIsInBhdGgiOiJcL2ZcLzBjZTc3ODZkLWMyNGEtNGM1NS1iOTBiLTA5MGNkODJiYzgwZFwvZGNhY3Iyai00MmU4OTVlZC03Yjk4LTRmYjItYTE0Ni1iZDlkNTQyMjEyYzQuanBnIiwid2lkdGgiOiI8PTE2MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.c-hKHnptOQzfsCAVI7rSXG7jnDbypNwSDHjdqROb-QI);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-size: medium;

}