@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

// cart de hollow knight
.cart_desafio {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

  .cart_hollow {
    
    background-image: url(https://cdn.shopify.com/s/files/1/0014/1962/files/bg-bigpixels.png?v=1637349768);
    background-color: #f7f8ff;
    background-repeat: repeat;
    background-size: 292px;
    background-position: 0 0;
    border-radius: 25px;
    width: 250px;
    cursor: pointer;
    
    &--info {
      display: flex;
      justify-content: space-between;
      color: #4b6b8d;
      line-height: 1.5;
      
      .title {
        font-size: larger;
        font-weight: 600;

        .description {
          font-size: 12px;
          font-weight: 400;
        }
      }

      .price {
        font-size: larger;
        font-weight: 600;

      }
    }
  }
}



.contenedorMain {
  flex-wrap: wrap;
  height: 900px;

}

.circular {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 25em;
}